# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env
*.env.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# OS / Editor
.DS_Store
*.pem

# Android build outputs
/app/
/*.keystore
/twa-manifest.json
/manifest-checksum.txt
/store_icon.png
/build.gradle
/settings.gradle
/gradle.properties
/gradlew
/gradlew.bat
/gradle/
